label{
    color:#1A237E;
    font-family:Helvetica,sans-serif,Arial;
    font-weight: bold;
}

.card_computo_1{
    font-family:Helvetica,sans-serif,Arial;

}


.fondo_boton{
    background-color:#4285F4;
    color: white;
}

